.header-mobile 
  input.header-mobile__search(type="text")
  nav.header-mobile__menu 
    ul.header-mobile__list
      li.header-mobile__item 
        a.header-mobile__link(href="#")  Компания
          img.header-mobile__img(src="images/arrow-down-mobile.svg", alt="Arrow down")
      li.header-mobile__item 
        a.header-mobile__link.header-mobile__link--open(href="#")  Каталог
          img.header-mobile__img(src="images/arrow-down-mobile.svg", alt="Arrow down")
        ul.header-mobile__sublist
          li.header-mobile__subitem
            a.header-mobile__sublink(href="#") Оконные системы
          li.header-mobile__subitem
            a.header-mobile__sublink(href="#") Фасадные системы
          li.header-mobile__subitem
            a.header-mobile__sublink(href="#") Уличная мебель
          li.header-mobile__subitem
            a.header-mobile__sublink(href="#") Мультимедиа проекторы
          li.header-mobile__subitem
            a.header-mobile__sublink(href="#") Цветные МФУ
          li.header-mobile__subitem
            a.header-mobile__sublink(href="#") Измерительное оборудование
      li.header-mobile__item 
        a.header-mobile__link(href="#")  Контакты
      li.header-mobile__item 
        a.header-mobile__link(href="#")  Вопросы-ответы
      li.header-mobile__item 
        a.header-mobile__link(href="#")  Прайс-лист
      li.header-mobile__item 
        a.header-mobile__link(href="#")  Услуги
  a.header-mobile-phone(href="tel:+70000000000") +7 (000) 000-00-00
    span.header-mobile-phone__description Бесплатная консультация
  a.header-mobile-request(href="#")  Заказать звонок
  a.header-mobile-registration(href="#")  Войти/регестрация
    img.header-mobile-registration-img(src="images/person.svg", alt="Person")