section.support
  .container 
    .support__content 
      .support__clip
      .support__card 
        h2.support__card-title ЮРИСТЫ ДЛЯ БИЗНЕСА
        p.support__card-text Сопровождение юридических лиц во всех областях права
        button.support__card-button(type="button")  Заказать звонок 
