section.root 
  ul.root__list 
    li.root__item 
      a.root__link(href="/home.html") Главная
    li.root__item 
      a.root__link(href="/aboutcompany.html") О компании
    li.root__item 
      a.root__link(href="/feedback.html") Отзывы
    li.root__item 
      a.root__link(href="/contacts.html") Контакты
    li.root__item 
      a.root__link(href="/catalog.html") Каталог
    li.root__item 
      a.root__link(href="/сarlawyer.html") Каталог(автоюрист)
