extends /layout/app

block content
  include /pages/home/question/index
  include /pages/home/support/index
  include /pages/home/services/index
  include /pages/home/advantages/index
  include /pages/home/help/index
  include /pages/home/feedback/index








