section.heading 
  .container
    h2.heading__title Каталог
    a.heading__link(href="#") Главная 
      img.heading__link-img(src="images/heading-arrow.svg", alt="Arrow right")
    a.heading__link(href="#")  Каталог 
      img.heading__link-img(src="images/heading-arrow.svg", alt="Arrow right")
    a.heading__link(href="#")  Автоюрист 
      img.heading__link-img(src="images/heading-arrow.svg", alt="Arrow right")
    a.heading__link(href="#")  Автоюрист Красноярск
