-
  var agencyCards = [
    {
      image: 'images/agency-card-1.jpg',
      title: 'Трудовые споры',
      text: 'Споры – в соответствии с трудовым законодательством Российской Федерации'
    },
    {
      image: 'images/agency-card-2.jpg',
      title: 'Жилищные споры',
      text: 'Споры —  возникающие между гражданами по поводу владения жилым помещением, его использованием и распоряжением.'
    },
    {
      image: 'images/agency-card-3.jpg',
      title: 'Земельные споры',
      text: 'Споры — это доказывание своих прав на землю с соблюдением установленной процессуальной процедуры и равноправия перед законом всех участников земельных отношений.'
    },
    {
      image: 'images/agency-card-4.jpg',
      title: 'Семейные споры',
      text: 'Споры – это категория дел, которые регулируются семейным и гражданским правом и появляются при заключении/расторжении брака'
    },
    {
      image: 'images/agency-card-5.jpg',
      title: 'Защита прав потребителей',
      text: 'Владелец агрегатора информации о товарах организационно-правовой формы.'
    },
    {
      image: 'images/agency-card-6.jpg',
      title: 'Кредитные споры',
      text: 'Суть кредитного спора, история кредитных взаимоотношений кредитора и заемщика, судебная практика решения кредитных споров.'
    },
    {
      image: 'images/agency-card-7.jpg',
      title: 'Автоюрист',
      text: 'Специалист, который поможет максимально быстро и выгодно разрешить сложившуюся ситуацию в пользу водителя'
    },
    {
      image: 'images/agency-card-8.jpg',
      title: 'Банкротство',
      text: 'Процедуру банкротства физических лиц в России регулирует закон «О несостоятельности (банкротстве)».'
    },
    {
      image: 'images/agency-card-9.jpg',
      title: 'Споры с застройщиком',
      text: 'Застройщик откладывает сроки сдачи дома Взыщем неустойку с застройщика.'
    },
    {
      image: 'images/agency-card-10.jpg',
      title: 'Юристы для Вашего бизнеса',
      text: 'Опытные юристы и адвокаты окажут грамотную юридическую помощь вашей компании!'
    },
    {
      image: 'images/agency-card-11.jpg',
      title: 'Жилищные споры',
      text: 'Споры —  возникающие между гражданами по поводу владения жилым помещением, его использованием и распоряжением.'
    },
    {
      image: 'images/agency-card-12.jpg',
      title: 'Земельные споры',
      text: 'Споры — это доказывание своих прав на землю с соблюдением установленной процессуальной процедуры и равноправия перед законом всех участников земельных отношений.'
    }
    
  ]

section.agency
  .container
    .agency__header 
      h2.agency__header-title Юридическое агентство
      p.agency__header-text 
        | Многолетний опыт наших юристов позволяют нам оказывать качественные услуги в юридической сфере на территории Красноярского края. Основным отличием нашей юридической компании от других, является совершенно бесплатная консультация в день обращения, как очно, так и онлайн.
    .agency__cards
      each item in agencyCards
        .agency__card 
          img.agency__card-img(src=`${item.image}`, alt="")
          span.agency__card-title= item.title  
          p.agency__card-text= item.text
    .agency__wrapper
      .agency__pagination 
        span.agency__pagination-bullet
        span.agency__pagination-bullet.agency__pagination-bullet--active
        span.agency__pagination-bullet
        span.agency__pagination-bullet
        span.agency__pagination-bullet
      a.agency__link(href="#") Следующая 
      a.agency__link.agency__link--mobile(href="#") Показать больше


