section.profile
    .container
      .profile__inner
        include /blocks/service-list/index
        .profile__card 
          .profie__card-inner
            img.profile__car-img(src="images/car-lawyer.jpg", alt="Car Lawyer")
            .profile__card-wrapper 
              span.profile__card-title Автоюрист Красноярск
              span.profile__card-name Константин Домрачев
              button.profile__card-button(type="submit") Заказать консультацию 
              ul.profile__card-list 
                li.profile__card-item Уехал с места аварии
                li.profile__card-item Попал в ДТП без страховки 
                li.profile__card-item Управлял транспортным средством в нетрезвом виде
                li.profile__card-item Попал в ДТП лишенный водительского удостоверения
          p.profile__card-history 
            | В 1866 году П. А. Александров назначен товарищем прокурора Петербургского окружного 
            | суда, но менее чем через год назначен прокурором Псковского окружного суда. В конце 1871 года 
            | Пётр Акимович переводится в Санкт-Петербург товарищем прокурора судебной палаты, в 1872—1873 годах 
            | занимает должность прокурора судебной палаты. В 1874 году Петра Акимовича Александрова назначают 
            | товарищем обер-прокурора кассационного департамента Правительствующего сената.В 1875 году Пётр 
            | Акимович даёт заключение по делу Суворина и Ватсона, обвинявшихся в клевете в печати, и выступает 
            | в защиту прав и независимости прессы. Это вызвало недовольство руководства, в результате П. А. 
            | Александров подаёт рапорт об отставке и 16 января 1876 года он был уволен со службы.После отставки 
            | Пётр Акимович поступил в адвокатуру и стал присяжным поверенным. В качестве присяжного поверенного он 
            | участвовал во многих громких.
          .profile__question 
            span.profile__question-title Вопрос - ответ 
            .profile__question-links
              a.profile__question-link(href="#") Что делать если попал в  ДТП?
                img.profile__question-img(src="images/plus.svg", alt="Plus")
              a.profile__question-link(href="#") Как с вами связаться?
                img.profile__question-img(src="images/plus.svg", alt="Plus")
              a.profile__question-link(href="#") Куда перечисляются деньги?
                img.profile__question-img(src="images/plus.svg", alt="Plus")
              a.profile__question-link(href="#") Что делать, если уехал с места ДТП?
                img.profile__question-img(src="images/plus.svg", alt="Plus")
          .profile__footer 
            a.profile__footer-link(href="#")
              img.profile__footer-link-img(src="images/profile-footer.svg", alt="Back")
              span Вернуться к списку
            .profile__footer-share
              span.share__text Поделиться ссылкой: 
              a.share__link(href="#") 
                img.share__link-img(src="images/instagram-profile.svg", alt="Instagram")
              a.share__link(href="#") 
                img.share__link-img(src="images/telegram-profile.svg", alt="Telegram")
              a.share__link(href="#") 
                img.share__link-img(src="images/facebook-profile.svg", alt="Facebook")
              a.share__link(href="#") 
                img.share__link-img(src="images/youtube-profile.svg", alt="Youtube")
              a.share__link(href="#") 
                img.share__link-img(src="images/share-profile.svg", alt="Telegram")
              a.share__link(href="#") 
                img.share__link-img(src="images/vk-profile.svg", alt="Vk")
              a.share__link(href="#") 
                img.share__link-img(src="images/twiter-profile.svg", alt="Twiter")
              