section.info 
  .container 
    .info__wrapper 
      h2.info__title Юридическая&nbsp;компания "Классика права"
      p.info__text В офисе юридической компании Вас совершенно бесплатно проконсультируют по любому юридическому вопросу. А так же вы можете воспользоваться онлайн чатом на нашем сайте