footer.footer
  .container 
    .footer__inner 
      .footer__content
        span.footer__rights 2021 Все права защищены 
        .footer__social 
          a.footer__social-link(href="#") 
            img.footer__social-img(src=require("images/youtube.svg"), alt="Youtube")
          a.footer__social-link(href="#") 
            img.footer__social-img(src=require("images/vk.svg"), alt="Vkontakte")
            a.footer__social-link(href="#") 
              img.footer__social-img(src=require("images/instagram.svg"), alt="Instagram")
        .footer__connection.footer__connection--mobile
          a.footer__connection-phone(href="tel:+70000000000") +7 (000) 
            span.footer__connection-phone--white 000-00-00
          a.footer__connection-mail(href="mailto:info@classica-prava") info@classica-prava
      .footer__nav 
        ul.footer__list 
          li.footer__item 
            a.footer__link(href="#")  каталог
          li.footer__item 
            a.footer__link(href="#")  Прайс&nbsp;лист
          li.footer__item 
            a.footer__link(href="#")  Услуги
          li.footer__item 
            a.footer__link(href="#")  Компания
          li.footer__item 
            a.footer__link(href="#")  Вопросы&nbsp;и&nbsp;ответы 
          li.footer__item 
            a.footer__link(href="#")  Контакты
      .footer__connection
        a.footer__connection-phone(href="tel:+70000000000") +7 (000) 
          span.footer__connection-phone--white 000-00-00
        a.footer__connection-mail(href="mailto:info@classica-prava") info@classica-prava
      span.footer__copyright Г. Красноярск  ООО “Класика Права” 
      span.footer__rights.footer__rights--mobile 2021 Все права защищены 

