section.communication
  .container 
    span.communication__title Доступные средства связи:
    .communication__cards 
      .communication__card 
        img.communication__card-img(src="images/communication-card-1.svg", alt="Telephone")
        .communication__card-wrapper 
          span.communication__card-title Телефон:
          a.communication__card-link(href="tel:+79135928565") +7 (913) 592-85-65
      .communication__card 
        img.communication__card-img(src="images/communication-card-2.svg", alt="Mail")
        .communication__card-wrapper 
          span.communication__card-title E-mail
          a.communication__card-link(href="mailto:info@classica-prava.ru") info@classica-prava.ru
      .communication__card 
        img.communication__card-img(src="images/communication-card-3.svg", alt="Time")
        .communication__card-wrapper 
          span.communication__card-title Время работы
          a.communication__card-link(href="#") Пн–Пт: 9:00 - 18:00
      .communication__card 
        img.communication__card-img(src="images/communication-card-4.svg", alt="Point")
        .communication__card-wrapper 
          span.communication__card-title Адрес
          a.communication__card-link(href="#") Красноярск ул. Маерчака 16

